@import './reset.css';

header {
	width: 100%;
	background: rgba(26,56,78,0.82);
	padding: 15px;
	display: flex;
	justify-content: center;
    align-items: center;
}
header h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 19px;
    color: rgba(255,255,255,0.66);
    letter-spacing: 5px;
}
.header-right {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.header-right > section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.header-right > section span {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	cursor: pointer;
}
.header-right > section span.theme-button {
	background: url(../../assets/icons/theme.png) center / contain;
}
.header-right > section span.points-button {
	background: url(../../assets/icons/star.png) center / contain;
}
.header-right > section:nth-child(2) {
    background: rgb(179 125 44 / 14%);
    padding: 5px;
    border-radius: 5px;
}
.header-right > section:nth-child(2) p {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}
.settings-modal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	z-index: 100000;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.87);
	opacity: 0;

	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.settings-modal-opened{
	opacity: 1;

	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.main-app-content{
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}
.settings-modal-content{
	width: 70%;
	height: 70vh;
	background: rgba(19,48,154,0.11);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 25px;
}
.background-item {
	width: 25%;
	height: 260px;
	float: left;
	position: relative;
	z-index: 1;

	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.background-item:hover {
	z-index: 10;
	cursor: pointer;

	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.selected-image{
	z-index: 1000;
	position: relative;

	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.selected-image:hover{
	z-index: 10;

	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.selected-image:after {
    content: 'Выбрано';
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background: rgb(39 62 119 / 46%);
    border-radius: 5px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 9px;
}
.settings-modal-content-images {
	width: 100%;
}
.settings-modal-content h2{
    margin: 25px 0;
    color: rgb(255 255 255 / 30%);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
}
.select-game-block{
	border-radius: 20px;
	width: 100%;
	overflow: hidden;
	height: 150px;
	background: rgba(17, 40, 74, 0.64);
	margin: 15px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.select-game-block section {
	box-sizing: border-box;
	width: 100%;
	height: 150px;
	background: red;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(17, 40, 74, 0);

	transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.select-game-block section:hover {
	background: rgba(17, 40, 74, 0.18);

	transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.select-game-block section p {
	color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
}
.select-game-block-closed{

	height: 0px;

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;	
}
.table-game{
	width: 100%;
	height: auto;
	background: rgba(55, 60, 113, 0.68);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.select-game-text-default {
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.select-game-text-default h4{
	font-size: 25px;
    color: #b7c7ef;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(51, 51, 51, 0.88);
    letter-spacing: 3px;
}
.table-game-content{
	width: 100%;
	height: auto;
	background: rgba(55, 60, 113, 0.68);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
}
.item-button-game{
	width: 20%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.2);
	position: relative;
	z-index: 0;

	transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.item-button-game:hover{
	background: rgba(255,255,255,0.06);
	z-index: 10;
	cursor: pointer;

	transform: scale(1.03);
	-o-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);

	transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	-moz-transition: .2s all;
	-ms-transition: .2s all;
}
.item-button-game h5{
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,0.95);
}
.full-container-block{
	width: 100%;
}
.game-block-header{
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.game-block-header h1 {
	color: rgba(255,255,255,0.66);
	font-weight: bold;
	font-size: 32px;
	display: block;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	padding: 8px 15px;
}